@font-face {
  font-family: 'Effra-Std-Rg';
  src: url('../../assets/fonts/Effra_Std_Rg.ttf') format('truetype');
}

.clients-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin: -4rem 8rem 6rem 8rem;
  background: transparent;
}

.clients-box {
  grid-column: 1/3;
  background: #262626;
  color: #fff;
  padding: 4rem;
  border-radius: 2px;
}

.clients-header {
  font-family: 'Effra-Std-Rg';
  font-size: 32px;
}

.clients-text {
  font-family: 'Effra-Std-Rg';
  font-size: 24px;
}

.client-logos {
  vertical-align: middle;
  width: 150px;
  height: auto;
}

.logo-box {
  border: solid 2px #ccc;
  border-radius: 2px;
  background: #fff;
  width: 350px;
  height: 350px;
  text-align: center;
  line-height: 300px;
}

.chs-logo {
  vertical-align: middle;
  width: 225px;
  height: auto;
}

.skanska-logo {
  vertical-align: middle;
  width: 225px;
  height: auto;
}

.fifthThird-logo {
  vertical-align: middle;
  width: 225px;
  height: auto;
}

.chhn-logo {
  vertical-align: middle;
  width: 225px;
  height: auto;
}
